/* make everything centered with a gap */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 80px;
}

h1 {
    position: relative;
    top: 20px;
    text-align: center;
    z-index: 1000;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
}

textarea {
    resize: none;
    width: 200px;
    height: 100px;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
